@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fone-padrao: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
    --fonte-destaque: 'Bebas Neue', 'sans-serif';
    --fonte-android: 'idroid'; 
}

body {
    background-color: var(--cor0);
    font-family: var(--fone-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

header > p {
    font-family: var(--fone-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

nav {
    background-color: var(--cor5);
    text-align: left;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}

nav > a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.5em;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}

main a {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

main a:hover {
    text-decoration: underline;
}

main a:visited {
    color: rgb(204, 11, 11);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 3px 3px 8px black;
}

aside h3 {
    color: white;
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}